<h1 class='page-header'>Photo Library</h1>
<p>Lightbox for Bootstrap 3</p>

<%= link_to image_tag("/system/uploads/tiger.jpg", height:'100px'), "/system/uploads/tiger.jpg", data:{ title:'title1', footer:'footer1', toggle:'lightbox', gallery:'multiimages' }%>
<%= link_to image_tag("/system/uploads/chimpanzee.jpg", height:'100px'), "/system/uploads/chimpanzee.jpg", data:{ title:'title2', footer:'footer2', toggle:'lightbox', gallery:'multiimages' }%>
<%= link_to image_tag("/system/uploads/bear.jpg", height:'100px'), "/system/uploads/bear.jpg", data:{ title:'title3', footer:'footer3', toggle:'lightbox', gallery:'multiimages' }%>
<%= link_to image_tag("/system/uploads/leopard.jpg", height:'100px'), "/system/uploads/leopard.jpg", data:{ title:'title4', footer:'footer4', toggle:'lightbox', gallery:'multiimages' }%>
<%= link_to image_tag("/system/uploads/duck.jpg", height:'100px'), "/system/uploads/duck.jpg", data:{ title:'title5', footer:'footer5', toggle:'lightbox', gallery:'multiimages' }%>
